.Northern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(238, 171, 208);
}

.Southern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(156, 216, 201);
}

.custom-label {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}